In [4]:
SELECT TOP 10
    allas AS allas_neve, 
    COUNT(*) allas_száma
FROM munka
WHERE allas IS NOT null
GROUP BY allas
ORDER BY COUNT(*) desc

allas_neve,allas_száma
eladó,12
takarító,9
ruhatáros,6
kisegítő,4
raktáros,4
pincér,2
kézbesítő,2
ügyfélszolgálati munkatárs,1
futár,1

In [5]:
SELECT TOP 10 allas AS 'Állás', 
        LEN(allas) AS 'Szó hossza'
FROM munka
GROUP BY allas
ORDER BY 2 DESC

string,string_length
ügyfélszolgálati munkatárs,26
kézbesítő,9
ruhatáros,9
kisegítő,8
takarító,8
raktáros,8
pincér,6
futár,5
eladó,5

In [6]:
SELECT MIN(allas) AS 'Minimális szó hossza', 
       MAX (allas) AS 'Maximális szó hossza'
FROM munka
WHERE allas IS NOT NULL
AND LEN(allas) > 0

Minimális szó hossza,Maximális szó hossza
eladó,ügyfélszolgálati munkatárs

In [10]:
SELECT row_type,
    COUNT(*) 'Sorok száma'
FROM 
    (SELECT 
        CASE WHEN DiakAz IS NULL THEN 'Null'
            ELSE 'Non Empty' 
            END AS row_type
        FROM munka) rows
GROUP BY row_type

row_type,Sorok száma
Non Empty,31
Null,10

In [11]:
SELECT MIN(DiakAz) AS 'Minimum érték', 
       MAX(DiakAz) AS 'Maximum érték', 
       AVG(DiakAz) AS 'Átlag érték'
FROM munka
WHERE DiakAz IS NOT NULL

Minimum érték,Maximum érték,Átlag érték
1,10,5

In [12]:
SELECT STDEV(DiakAz) AS value_stddev, 
       VAR(DiakAz) AS value_var
FROM munka
WHERE DiakAz IS NOT NULL

value_stddev,value_var
2.734880233661635,7.479569892473118